@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.woff2);
  font-weight: 500;
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Medium.woff2);
  font-weight: 700;
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Bold.woff2);
  font-weight: 900;
}

* {
  margin: 0px;
  font-family: Poppins, sans-serif;
}

:root {
  --primary-color: #30c8d5;
  --secondary-color: yellow;
  --light-color: #ffffff;
  --dark-color: #000000;
  --gray-color: #808080;
  --primary-filter: invert(78%) sepia(55%) saturate(746%) hue-rotate(145deg)
    brightness(87%) contrast(92%);
}

.flex-data {
  display: flex;
  align-items: center;
  align-content: center;
}

.global-section {
  width: 100%;
  padding: 90px 0;
  position: relative;
  z-index: 9;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  width: 90%;
  margin: 0px auto;
}

.navbar {
  width: 100%;
  padding: 20px 0;
  background-color: var(--primary-color) !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.navbar .contain {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar .contain .brand-name {
  font-size: 30px;
  font-weight: 900;
  color: var(--light-color);
}

.navbar .contain .navbar-nav {
  gap: 20px;
}

.navbar .contain .navbar-nav li a {
  font-size: 14px;
  font-weight: 500;
  color: var(--light-color);
  text-transform: capitalize;
}

.navbar .contain .navbar-nav li a:hover {
  color: var(--secondary-color);
}

.nav-link {
  position: relative;
  padding: 0;
}

.nav-link::after {
  content: "";
  position: absolute;
  background-color: var(--light-color);
  height: 2px;
  width: 0%;
  left: 0;
  bottom: -9px;
  transition: 0.4s;
}

.nav-link:hover::after {
  width: 100%;
}

.collapse {
  transform: translateX(550px);
}

.header {
  width: 100%;
  padding: 200px 0 150px;
  background: url(../images/intro/header.webp) center / cover no-repeat;
  z-index: 9;
  position: relative;
  display: block;
}

.header:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: -1;
}

.header .contain {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  transform: translateX(-50px);
}

.header .contain h1 {
  font-size: 35px;
  font-weight: 900;
  color: var(--light-color);
  margin-bottom: 20px;
}

.box-button {
  background-color: transparent;
  color: var(--light-color);
  font-size: 10px;
  font-weight: 500;
  padding: 5px;
  margin-top: 20px;
  position: relative;
  z-index: 99;
}

.box-button::after {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  width: 0%;
  left: 0;
  bottom: 0;
  height: 25px;
  z-index: -1;
}

.box-button:hover::after {
  width: 100%;
}

.header .contain img {
  filter: var(--primary-filter);
  margin: 0;
  z-index: 9;
}

.header .contain img:hover {
  /*background-color: var(--light-color);*/
  filter: invert(0%) sepia(1%) saturate(35%) hue-rotate(263deg) brightness(86%)
    contrast(100%);
}

.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.heading h1 {
  font-size: 40px;
  font-weight: 900;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.heading p {
  color: var(--gray-color);
  font-size: 15px;
  font-weight: 500;
  margin-left: 370px;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.numbers {
  width: 100%;
  padding: 200px 0 150px;
  background: url(../images/counter/counter.webp) center / cover no-repeat;
  z-index: 9;
  position: relative;
  display: block;
}

.numbers::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  top: 0px;
  left: 0px;
}

.numbers .contain {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  text-align: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  padding: 10px 10px;
  transform: translateX(-50px);
}

.numbers .contain:hover {
  border: solid 1px var(--primary-color);
}

.numbers .contain .number:hover {
  color: var(--primary-color);
}
.numbers .container {
  display: flex;
  flex-direction: row;
}

.numbers .contain p {
  color: var(--light-color);
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0 10px;
}

.numbers .contain img {
  filter: var(--primary-filter);
}

.numbers .contain img:hover {
  background-color: var(--light-color);
}

.description {
  width: 50%;
}

.heading-2 {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  padding: 60px 0;
  font-size: 20px;
  font-weight: 900;
  color: var(--primary-color);
}

/*.heading-2 p {
  color: var(--gray-color);
  font-size: 15px;
  font-weight: 500;
  
}*/
.icon-box {
  /*border: solid 1px var(--light-color);*/
  border-radius: 50%;
  padding: 5px 10px;
  width: max-content;
}

.icon-box:hover {
  background-color: #ffffff;
  border-color: var(--primary-color);
}

.whychose {
  padding: 100px 0;
}

.whychose .container .job-item {
  display: flex;
  flex-direction: column;
  right: 250px;
}

.job-item {
  margin-top: 10px;
}

.whychose .contain {
  display: flex;
  flex-direction: row;
}

.whychose .contain .job-item {
  position: relative;
}

.whychose .contain .job-item::after {
  content: "";
  position: absolute;
  background-color: var(--gray-color);
  opacity: 0.7;
  height: 5px;
  border-radius: 2px;
  width: 200%;
  left: 0;
  bottom: -4px;
}

.protofolio {
  background-color: #ededed;
}

.proto {
  color: var(--primary-color);
  font-size: 16px;
  margin-bottom: 16px;
  font-weight: 900;
  text-align: center;
}

button {
  background-color: transparent;
}

button:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}
.protofolio .row .image-box {
  width: 100%;
  height: 350px;
  overflow: hidden;
  position: relative;
}

.protofolio .row .image-box .project-data {
  width: 100%;
  height: 0%;
  background-color: rgba(252, 227, 13, 0.5);
  position: absolute;
  flex-direction: column;
  justify-content: center;
  bottom: 14%;
  left: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 10;
}

.protofolio .row .image-box .project-data a {
  font-size: 20px;
  font-weight: 700;
  color: var(--dark-color);
}

.protofolio .row .image-box:hover .project-data {
  height: 100%;
  opacity: 1;
  visibility: visible;
}

.buttons {
  text-align: center;
  margin-bottom: 10px;
}

.proto-buttons {
  background-color: transparent;
  border-color: rgba(128, 128, 128, 0.296);
  border-width: 0.4px;
  border-radius: 10px;
  text-align: center;
}

.proto-button:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}

.ourservices {
  width: 100%;
  padding: 200px 0 150px;
  background: url(../images/our-services/service.webp) center / cover no-repeat;
  z-index: 9;
  position: relative;
  display: block;
}

.ourservices::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  top: 0px;
  left: 0px;
}

.ourservices .image {
  filter: var(--primary-filter);
}

.ourservices h1 {
  text-align: center;
  color: var(--light-color);
  font-size: 30px;
  font-weight: 900;
}

.ourservices .h1 p {
  color: var(--light-color);
  font-size: 20px;
  font-weight: 700;
}

.h1 {
  text-align: center;
  margin-bottom: 150px;
}

.ourservices .rows {
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-align: center;
}

.ourservices .contain {
  transform: translateX(50px);
}

.ourservices .contain:hover {
  border: solid 1px var(--primary-color);
}

.ourservices .rows p {
  color: var(--light-color);
}

.ourteam .team {
  flex-wrap: nowrap;
  gap: 20px;
  display: flex;
  flex-direction: row;
}

.ourteam .team .card-team {
  width: 100%;
  height: 450px;
  overflow: hidden;
  position: relative;
  z-index: 9;
}

.ourteam .team .card-team .team-pic {
  object-fit: cover;
  object-position: top;
}

.ourteam .team .card-team .team-data {
  width: 100%;
  height: 0%;
  background-color: rgba(48, 200, 213, 0.5);
  position: absolute;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  bottom: 33%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  transition: all 0.4s;
}

.ourteam .team .card-team:hover .team-data {
  height: 67%;
  opacity: 1;
  visibility: visible;
}

.ourteam .team .card-team .team-data h2 {
  color: var(--primary-color);
  font-size: 25px;
  font-weight: 700;
}

.ourteam .team .card-team .team-data p {
  color: var(--light-color);
  font-size: 16px;
  font-weight: 700;
}

.heads h1 {
  color: var(--primary-color);
  font-size: 30px;
  margin-bottom: 16px;
  font-weight: 900;
  text-align: center;
}

.icons {
  display: flex;
  flex-direction: row;
}

.icons img {
  filter: var(--primary-filter);
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data h3 {
  color: var(--primary-color);
  font-size: 25px;
  font-weight: 900;
}

.data p {
  font-size: 20px;
  font-weight: 700;
}

.agency {
  width: 100%;
  padding: 200px 0 150px;
  background: url(../images/creative-agency/message.webp) center / cover
    no-repeat;
  z-index: 9;
  position: relative;
  display: block;
}

.agency:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: -1;
}

.agency .container {
  flex-direction: column;
  gap: 20px;
}

.agency .container button {
  background-color: transparent;
  color: var(--light-color);
  border-radius: 20px;
  border-color: rgba(128, 128, 128, 0.473);
  font-size: 15px;
  padding: 0 10px;
}

.agency .container button:hover {
  border-color: var(--primary-color);
}

.agency .container h1 {
  color: var(--primary-color);
  font-size: 36px;
  font-weight: 900;
}

.agency .container p {
  color: var(--light-color);
  font-size: 24px;
  font-weight: 700;
}

.cards {
  width: 100%;
  padding: 100px 0;
}

.head-1 {
  text-align: center;
  margin-bottom: 30px;
}

.card-1 {
  width: 300px;
  gap: 20px;
  border: solid 1px rgba(128, 128, 128, 0.512);
  text-align: center;
  align-items: center;
}

.list-item {
  gap: 25px;
  margin-bottom: 25px;
  position: relative;
}

.card-1 .plan-price {
  background-color: var(--primary-color);
  padding: 20px 20px;
  font-size: 28px;
  font-weight: 900;
  color: var(--light-color);
  text-align: center;
}

.card-1 .plan-text {
  background-color: #387f86;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--light-color);
  text-align: center;
}

.card-1 button {
  background-color: var(--primary-color);
  border-color: transparent;
  border-radius: 10px;
  padding: 5px 4px;
}

.list-item::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 90%;
  background-color: var(--gray-color);
  opacity: 0.6;
  left: 10px;
  bottom: -4px;
}

.card {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  gap: 20px;
  right: 50px;
}
.clients {
  width: 100%;
  padding: 150px 0 150px;
  background: url(../images/clients/clients.webp) center / cover no-repeat;

  z-index: 9;
  position: relative;
  display: block;
}
.clients .container {
  flex-direction: column;
  text-align: center;
}

.clients:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: -1;
}

.clients h1 {
  color: var(--light-color);
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 30px;
}

.clients .speech {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  width: 50%;
  margin: 30px auto;
}
.clients .client-name {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 30px;
}

.clients img {
  filter: var(--primary-filter);
  margin-bottom: 20px;
}

.contacts {
  width: 100%;

  padding: 100px 0px;
}

.form-item {
  width: 50%;
  display: inline-block;
  transform: translateX(300px);
}

.form-item:hover {
  border: solid 2px var(--primary-color);
}

.contacts .form form {
  gap: 50px;
}

textarea {
  resize: none;
}

.contact {
  text-align: center;
}

.contact h1 {
  color: var(--primary-color);
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
}

.contact p {
  color: var(--dark-color);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}

.form .send {
  background-color: transparent;
  border-color: transparent;
  position: relative;
  z-index: 9;
}

.form .send::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 24px;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  z-index: -1;
}

.form .send:hover:after {
  width: 100%;
}

.address {
  width: 100%;
  padding: 100px 0;
}

.address .contain {
  gap: 15px;
  display: flex;
  flex-direction: column;
  border: solid 1px var(--primary-color);
  text-align: center;
  padding: 20px 50px;
  margin-left: 120px;

  transform: translateX(-100px);
}

.address .container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.address .contain img {
  filter: var(--primary-filter);
}

.phone {
  padding: 0 30px;
}

.email {
  padding: 0 30px;
}

.map {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 0;
}

.footer {
  width: 100%;
  background-color: var(--primary-color);
  padding-top: 0;
  padding-bottom: 10px;
}

.footer .container {
  text-align: center;
}

.footer .container img {
  filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(86deg) brightness(114%)
    contrast(100%);
  margin-left: 10px;
  width: 30px;
  height: 30px;
  padding-top: 15px;
}

.footer .container p {
  color: var(--light-color);
  font-size: 10px;
  font-weight: 700;
  margin-top: 10px;
}

.sub-header {
  width: 100%;
  padding: 100px 0px;
}

.sub-header .container {
  text-align: center;
  background-color: var(--gray-color);
}
footer {
  text-align: center;
}
